<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{title}}</title>

    <script type="text/javascript" src="javascripts/vendor/jquery.js"></script>
    <script type="text/javascript" src="javascripts/foundation.min.js"></script>
    <script type="text/javascript" src="javascripts/vendor/modernizr.js"></script>
    <script type="text/javascript" src="javascripts/jquery.DataTables.min.js"></script>
    <script type="text/javascript" src="javascripts/datatables.foundation.min.js"></script>


    <link rel="stylesheet" type="text/css" href="stylesheets/foundation.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/dataTables.foundation.min.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/jquery.dataTables.min.css">

    <script>
            {{profiles}}
    </script>
    <script>
            {{plugins}}
    </script>
</head>
<body>
<div id="container">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1>
                    <a href="#">{{title}}</a>
                </h1>
            </li>
        </ul>
    </nav>
    <form method="post" action="/">
        <fieldset>
            <legend>Run Analysis</legend>
            <div class="row">
                <div class="large-3 columns">
                    <div class="row collapse">
                        <label>Memory File</label>

                        <div class="small-12 columns">
                            {{#select lastMem}}
                            <select name="memoryLocation">
                                {{#each files}}
                                    <option value="{{path}}" title="{{description}}">{{name}}</option>
                                {{/each}}
                            </select>
                            {{/select}}
                        </div>
                    </div>
                </div>
                <div class="large-3 columns">
                    <div class="row collapse">
                        <label>Plugin</label>

                        <div class="small-12 columns">
                            {{#select lastPlugin}}
                            <select name="plugin">
                                {{#each plugins}}
                                    <option value="{{plugin}}" title="{{description}}">{{plugin}}</option>
                                {{/each}}
                            </select>
                            {{/select}}
                        </div>
                    </div>
                </div>
                <div class="large-3 columns">
                    <div class="row collapse">
                        <label>Profile</label>

                        <div class="small-12 columns">
                            {{#select lastProfile}}
                            <select name="profile">
                                {{#each profiles}}
                                    <option value="{{profile}}">{{friendlyName}}</option>
                                {{/each}}
                            </select>
                            {{/select}}
                        </div>
                    </div>
                </div>
                <div class="large-3 columns">
                    <div class="row collapse">
                        <label>Run Analysis</label>

                        <div class="small-12 columns">
                            <input type="submit" value="Run" class="tiny button">
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="large-12 columns">

        <table id="resultsTable" class="tdisplay stripe row-border dataTable no-footer" cellspacing="0" width="100%" role="grid"
               aria-describedby="example_info" cellpadding="10">
            <thead>
            <tr>
                {{#each rowTitle}}
                    <th>{{this}}</th>
                {{/each}}
            </tr>
            </thead>
            <tbody>
            {{#each result}}
                <tr>
                    {{#each this}}
                        <td>{{this}}</td>
                    {{/each}}
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>


</div>

<script>
    $(document).foundation();
</script>
<script>
    $(document).ready(function () {
        $('#resultsTable').DataTable({
            paging: false,
        });
    });
</script>
</body>
</html>
